{{#each assessments as |assessment| }}
  <table class="ui celled table">
    <thead>
      {{> assessment-header }}
    </thead>
    <tbody>
      {{> assessment-row assessment=assessment member=member }}
    </tbody>
  </table>
  <h4 class="ui headder">
    Comments
  </h4>
  <form class="ui form" action="/editcomment/{{assessment.id}}" method="POST">
    <div class="ui field">
      <textarea rows="2" name="comment">{{assessment.comment}}</textarea>
    </div>
    <button class="ui blue submit button"> Update </button>
  </form>

  <div class="ui divider"></div>
{{/each}}
