{{> trainermenu id="dashboard"}}

{{> analytics member=member memberStats=memberStats }}
<section class="ui segment">
  {{> assessment-table-comment assessments=assessments member=member }}
</section>
